.reveal section img {
  margin: 15px 0px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  box-shadow: none;
}

.reveal pre {

}

.reveal table.small-size {
  font-size: 0.8em;
  white-space: nowrap;
}
